@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 255, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
  font-family: 'Courier New', monospace;
  overflow-x: hidden;
}

@layer utilities {
  .text-shadow-glitch {
    text-shadow: 2px 0 #ff00ff, -2px 0 #00ff00;
  }
}
